@import "../../theme/theme.scss";

.oc-output {
  background-color: $backgroundColor2;
  overflow: scroll;
  height: 100%;
  font-family: $fontFamilyConsole;
  font-size: 10px;
  margin: 2px;
  user-select: text;
  pre {
    margin: 0;
  }
}

.oc-error {
  color: $textColorError;
}

.oc-warning {
  color: $textColorWarning;
}

.oc-info {
  color: $textColorLight1;
}

.oc-ok {
  color: $textColorSuccess;
}
