.cc-content {
    font-family: 'Consolas','Courier New', Courier, monospace !important;
    font-size: 10px !important;
}

.cc-input {
    font-family: 'Consolas','Courier New', Courier, monospace !important;
    font-size: 10px !important;
}

.cc-console {
    width: 100%;
    max-width: 100%;
    height: 100%;
}